

html, body {
    margin: 30px 80px;
    padding: 0% 15%;
    background-color: black;
    color:#f3fb04;
}
.ss{
    color : yellowgreen
}
.text
{
    font-size: 50px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.lost
{
    color: red;
}

.won
{
    color: green;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid black;
    box-shadow: 0px 2.98256px 7.4564px rgba(246, 243, 243, 0.94);
}

.grid div {
    width: 15px;
    height: 15px;
}

.pac-dot
{
    background-color:brown;
    box-sizing: border-box;
    border: 5px solid white;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.wall {
    background-color:lightsalmon;
}

.power-pellet {
    background-color: green;
    border-radius: 7.5px;
}

.pacman {
    background-color:rgb(247, 52, 52);
    border-radius: 7.5px;
    border: none;
}
.blinky {
    background-color: orange;
    border: none;
    border-radius: 5px;
}

.pinky {
    background-color:#f3fb04;
    border: none;
    border-radius: 5px;
}

.inky {
    background-color: darkmagenta;
    border: none;
    border-radius: 5px;
}

.clyde {
    background-color:darkred;
    border: none;
    border-radius: 5px;
}
.scared-ghost
{
    background-color: rgb(172, 161, 161);
    border: none;
}
.tryagain
{
  background-color: black;
  color:#f3fb04;
  border:4px solid #f3fb04;
  border-radius: 5px;
  text-align: center;
  margin-left: 30%;
  margin-right: auto;
  margin-top: 5%;
  padding:15px;
  font-size: 15px;
  font-weight: 900;
  font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tryagain:hover{
    background-color: #f3fb04;
    color:black;
    border: 4px solid white;
    
}

